{% extends 'base.html' %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4" style="margin-bottom:200px;">
			<div class="card shadow mb-4" style="background-color: #eaf6fd;">
				<div class="card-body">
				  <h2 class="card-title mb-4 text-center text-uppercase font-weight-bold text-primary">Contact Us</h2>				  
				</div>
			</div>			<div class="row">
				<div class="col-md-6">
					<table class="table table-bordered">
						<tr>
							<th>District</th>
							<td>Kathmandu</td>
						</tr>
						<tr>
							<th>Mobile</th>
							<td>977-1-4211673</td>
						</tr>
						<tr>
							<th>Telephone</th>
							<td>977-1-4211673</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>urban@gov.np</td>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d16870.667043024157!2d85.3240!3d27.7045!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2b135ce266199a27!2sKathmandu%20Durbar%20Square!5e0!3m2!1sen!2sin!4v1632159340383!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}